body
{
  background-color: #fcfcfc;
  font: larger Arial; 
}

.centered-div
{
     margin: initial;
     position: absolute;    
     left: 0;
     width: 20px;
     height: 20px;     
     right: 0;
     bottom: 0;
     top: 0;
    

}


.centered-table {   
  
    border:3px;
     border-style: solid;
     border-width: thin;
     width:100%;
     height:100px;
  }


td {
  padding: 2px 0;
}



